streamlit==1.39.0
pandas==2.3.3
numpy==1.26.4
sqlalchemy==2.0.36
python-dotenv==1.0.1

langchain==1.0.5
langchain-core==1.0.4
langchain-community==0.4.1
langchain-google-genai==3.0.1
langgraph==1.0.2
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9

google-auth==2.43.0
google-ai-generativelanguage==0.9.0
google-api-python-client==2.187.0

matplotlib==3.10.7
plotly==6.4.0
pydeck==0.9.1

requests==2.32.5
python-dateutil==2.9.0.post0
pydantic==2.12.4
pydantic-settings==2.11.0
orjson==3.11.4
httpx==0.28.1
